
$body-bg:                           #1c2129;
$body-color:                        rgb(223, 223, 223);
$font-size-base:                    .95rem;
$dark:                              #12161c;
$white:                             rgb(255, 255, 255);

$dropdown-bg:                       #242c35;
$dropdown-link-color:               rgb(223, 223, 223);
$dropdown-link-hover-color:         rgb(223, 223, 223);
$dropdown-link-hover-bg:            #323c48;

$headings-color:                    #fff;
$headings-font-weight:              400;

$card-cap-bg:                       rgb(37, 46, 58);
$card-border-color:                 rgb(27, 29, 36);
$card-bg:                           rgb(20, 23, 31);
$nav-tabs-link-hover-border-color:  #657788;
$nav-tabs-link-active-border-color: #15191D;
$nav-tabs-link-active-color:        rgb(223, 223, 223);
$nav-link-color:                    rgb(223, 223, 223);
$nav-link-hover-color:              rgb(223, 223, 223);

$primary:                           rgb(53, 72, 158);
$secondary:                         rgb(78, 93, 108);
$light:                             rgb(223, 223, 223);
$info:                              #223d66;

$enable-rounded:                    false;

$navbar-dark-color:                 rgba($white, .65);
$navbar-dark-hover-color:           rgba($white, .85);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .35);
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($white, .1);


$pagination-color:                  $white;
$pagination-focus-color:            rgba($white, .85);
$pagination-hover-color:            rgba($white, .85);
$pagination-disabled-color:         rgba($white, .35);
$pagination-bg:                     rgb(15, 20, 26);
$pagination-focus-bg:               rgba(53, 72, 158, 0.837);
$pagination-hover-bg:               rgba(53, 72, 158, 0.837);
$pagination-disabled-bg:            rgba(15, 20, 26, 0.671);
$pagination-border-color:           rgb(18, 24, 31);
$pagination-focus-border-color:     rgba(53, 72, 158);
$pagination-hover-border-color:     rgba(53, 72, 158);
$pagination-disabled-border-color:  rgb(18, 24, 31);

$input-color:                       rgb(17, 17, 17);

@import "../bootstrap/scss/bootstrap"
